body{
background-color:whitesmoke;
}

#fotoPerfil{
height: 100%;
width: auto;
max-width: 100%;
padding-top: 10px;
border-radius: 50%;
}

#contato{
 padding-top: 70px;
}

#footer{
    padding-top: 50px;
}

#nav1{
    padding-left: 10px;
}
